doctype html
html
  head
    script(src="http://code.jquery.com/jquery-2.2.0.js")
    link(rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
      crossorigin="anonymous")
    link(rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
      integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
      crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
      integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
      crossorigin="anonymous")
    style
      | body { padding-top: 70px; }
    block title
      title Hello #{username}!
      
  body(ng-app="fswd-2016")
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href="#") FSWD
        .collapse.navbar-collapse.navbar-right
          if !isAuthenticated()
            ul.nav.navbar-nav
              li.nav.navbar-nav
                a(href='/user/login') Sign In
              li.nav.navbar-nav
                a(href='/user/register') Register
          else
            p.navbar-text.navbar-right Hello #{user.username}!
    .container
      .well
        block body
